<h1>id: <%= @tasks.id %> 詳細ページ</h1

<table class="table table-bordered">
    <tr>
        <th>id</th>
        <td><%= @task.id %></td>
    </tr>
    <tr>
        <th>ステータス</th>
        <td><%= @task.status %></td>
    </tr>
    <tr>
        <th>タスク</th>
        <td><%= @task.content %></td>
    </tr>
</table>

<p>ステイタス：<%= @tasks.status %></p>
<p>タスク：<%= @tasks.content %></p>

<%= link_to 'このタスクを編集する', edit_task_path(@tasks), class: 'btn btn-default' %>
<%= link_to 'このタスクを削除する', @tasks, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
